body {
  color: var(--bs-light);
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: var(--ei-background);
}

.header {
  font-family: 'Josefin Sans', sans-serif;
  color: #FFF;
  height: 60px;
}
.header-item a {
  text-decoration: none;
  color: inherit;
}

.header-item, .header-item a {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 64px;
  letter-spacing: 0.2rem;
}

.header-item:hover, .header-item a:hover {
  cursor: pointer;
  color: var(--ei-title);
}

.ei-border-bracket {
  background: url("../img/border-line-vertical.png") left top no-repeat,
              url("../img/border-line-horizontal.png") center top no-repeat,
              url("../img/border-line-vertical.png") right top no-repeat,
              url("../img/border-line-vertical.png") left bottom no-repeat,
              url("../img/border-line-horizontal.png") center bottom no-repeat,
              url("../img/border-line-vertical.png") right bottom no-repeat;
  background-size: 7px 40px, 100% 7px, 7px 40px,
                   7px 40px, 100% 7px, 7px 40px;
  background-origin: border-box, border-box, border-box,
                     border-box, border-box, border-box;
  padding: 20px;
}

.ei-border-bottom {
  background: url("../img/border.png") repeat-x;
  background-position-x: 0;
  background-position-y: 100%;
  background-size: 30px;
  display: block;
  height: 8px;
}

.title {
  line-height: 64px;
}

.icon-col {
  text-align: center;
}

.icon-col img {
  max-height: 50px;
  margin: 5px auto;
}

.title span {
  font-size: 28px;
  margin-left: 20px;
}

.filters {
  margin-top: 6px;
  margin-bottom: 10px;
}

.select-label {
  color: var(--ei-title);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.select-vector {
  display: none;
}

.dropbtn {
  color: var(--bs-light);
  padding: 8px 12px;
  line-height: 150%;
  font-size: 14px;
  border: 2px solid #165163;
  cursor: pointer;
  width: auto;
  /* background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='28' viewBox='0 0 28 28' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); */
  background-image: url("../img/icon-dropdown.svg");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 12px);
  background-position-y: 50%;
  background-size: 16px;
}

.dropbtn svg {
  padding-right: 10px;
}

.dropdown {
  margin: 8px 0;
  position: relative;
  width: 260px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  width: 260px;
  max-height: 360px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1000000;
  overflow: scroll;
  background: var(--ei-background);
  border: 2px solid #165163;
  top: calc(100% - 2px);
}

/* Links inside the dropdown */
.dropdown-content a {
  font-size: 14px;
  color: #FFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--ei-200);
}

.btn-ei {
  background-color: transparent;
  border: 0.5px solid var(--bs-light);
  border-radius: 20px;
  color: var(--bs-light);
  font-size: 12px;
  font-weight: 300;
  margin-right: 10px;
  margin-top: 5px;
  text-transform: uppercase;

  display: inline-block;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 4px 8px;
  transition: color .15s
}

.btn-ei:hover {
  background-color: var(--ei-150);
  color: var(--ei-400);
  border-color: var(--ei-400);
}

.btn-ei-selected {
  background-color: transparent;
  color: var(--ei-400);
  border: 1.5px solid var(--ei-400);
  font-weight: 600;
}

.outputs {
  margin: 20px 20px;
}

.results-title {
  color: var(--ei-title);
  font-size: 24px;
  font-weight: 400;
  padding: 10px 0;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

/* .results-item {
  padding: 0 15px;
} */

.results-item-main {
  padding: 5px 5px;
  font-weight: 700;
}

.secondary-item {
  padding: 3px 20px;
}

/* .results-item-main, .secondary-item { */
.secondary-item {
  cursor: pointer;
  font-weight: 300;
  /* border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; */
}

/* .results-item-main:hover,  .secondary-item:hover {*/
.secondary-item:hover {
  background-color: var(--ei-200);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block !important;
}

.selected {
  background-color: var(--ei-150);
  border-left: 3px solid var(--ei-200);
  font-weight: 600;
}

/* CHART */

#chart {
  margin: 0 10px;
}

#chart svg {
  background-color: var(--ei-100);
}

.axis line {
  stroke-linecap: round;
}

.axis .big-tick line {
  stroke-width: 2px;
}

.axis .small-tick line {
  stroke-width: 0.5px;
}

.tick text {
  font-weight: 500;
  font-size: 12px;
}

.ei-tooltip {
  background-color: var(--ei-background);
  padding: 10px 15px;
  position: absolute;
  pointer-events: none;
}

.legend-circle {
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
}

.legend-name {
  display: inline-block;
  width: 100px;
}

.legend-value {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 50px;
}
